@import url('./main-layout.css');
@import url('./views/visualizar-proveedor-view.css');
@import url('./views/realizar-pedido2-view.css');
@import url('./views/consultar-productos-abastecer-view.css');
@import url('./views/visualizar-productos-stock-view.css');    html {
      --lumo-base-color: #fffafa;
      --lumo-error-color: hsl(3, 100%, 50%);
      --lumo-error-color-50pct: hsla(3, 100%, 50%, 0.5);
      --lumo-error-color-10pct: hsla(3, 100%, 50%, 0.1);

    }
